/* @media (max-width: 576px) {
    .navbar-nav .nav-link {
        width: 100%;
    }
} */

.navbar-nav li a {
    color: #444;
    /* color de fuente predeterminado */
    transition: all 0.2s ease-in-out;
    /* transición suave de animación */
    font-weight: 400;
}

.navbar-nav li a:hover {
    color: #00aeff;
    /* color de fuente al hacer hover */
}

.profile-image {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}