<nav class="navbar bg-body-tertiary bg-white">

    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../../../assets/2acf97e741494814987a3a12451720f7 (2).png" alt="Logo" width="60" height="48   " class="d-inline-block align-text-top"> Geo Health
        </a>
        <form class="d-flex" role="Login">
            <button class="btn btn-info text-white m-3" routerLink="/login">Login  </button>
            <button class="btn btn-info text-white m-3" routerLink="/register">Register</button>
        </form>

    </div>

</nav>