<div id="addPartnerModal" class="m-4 animate__animated animate__fadeIn animate__faster">
    <div class="container">
        <div class="card mask-custom border shadow-lg">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-12">
                    <ng-container *ngIf="form != undefined">
                        <div class="container mx-auto">
                            <form [formGroup]="form" (ngSubmit)="onSubmit()" class="m-4">

                                <h4 *ngIf="add">Add Partner</h4>
                                <h4 *ngIf="!add">Edit Partner</h4>

                                <div class="modal-body">

                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <label for="name" class="form-label">Name</label>
                                            <input type="text" class="form-control" id="name" formControlName="name">
                                            <span *ngIf="form.controls['name'].errors && form.controls['name'].touched" class="form-text text-danger">Please, complete this value</span>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label for="service" class="form-label">Services</label>
                                            <!-- <input type="text" class="iform-control" id="service" formControlName="service"> -->
                                            <select class="form-select" id="service" formControlName="service" multiple="multple">
                                                <option *ngFor="let service of listServices">{{service.name}}</option>
                                              </select>
                                            <span *ngIf="form.controls['service'].errors && form.controls['service'].touched" class="form-text text-danger">Please, complete this value</span>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <label for="street" class="form-label">Street</label>
                                            <input type="text" class="form-control" id="street" formControlName="street">
                                            <span *ngIf="form.controls['street'].errors && form.controls['street'].touched" class="form-text text-danger">Please, complete this value</span>

                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label for="number" class="form-label">Number</label>
                                            <input type="text" class="form-control" id="number" formControlName="number">
                                            <span *ngIf="form.controls['number'].errors && form.controls['number'].touched" class="form-text text-danger">Please, complete this value</span>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <label for="city" class="form-label">City</label>
                                            <input type="text" class="form-control" id="city" formControlName="city">
                                            <span *ngIf="form.controls['city'].errors && form.controls['city'].touched" class="form-text text-danger">Please, complete this value</span>

                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label for="state" class="form-label">State</label>
                                            <input type="text" class="form-control" id="state" formControlName="state">
                                            <span *ngIf="form.controls['state'].errors && form.controls['state'].touched" class="form-text text-danger">Please, complete this value</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <label for="lng" class="form-label">lng</label>
                                            <input type="text" class="form-control" id="lng" formControlName="lng">
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label for="lat" class="form-label">lat</label>
                                            <input type="text" class="form-control" id="lat" formControlName="lat">
                                        </div>
                                    </div>
                                    <span *ngIf="form.controls['lat'].errors && form.controls['lng'].errors && form.controls['email'].untouched" class="form-text text-success">Please, press the button "Geolocate"</span>
                                    <span *ngIf="form.controls['lat'].errors && form.controls['lng'].errors && form.controls['email'].touched" class="form-text text-danger">Please, press the button "Geolocate"</span>
                                    <div class="row">
                                        <input (click)="getAddress()" type="button" class="btn btn-info text-white m-1" value="Geolocate">
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <label for="email" class="form-label">Email</label>
                                            <input type="text" class="form-control" id="email" formControlName="email">
                                            <span *ngIf="form.controls['email'].errors && form.controls['email'].touched" class="form-text text-danger">Please, complete this value</span>

                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label for="phone" class="form-label">Phone</label>
                                            <input type="text" class="form-control" id="phone" formControlName="phone">
                                            <span *ngIf="form.controls['phone'].errors && form.controls['phone'].touched" class="form-text text-danger">Please, complete this value</span>

                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label for="active" class="form-label">Active</label>
                                            <input type="checkbox" class="form-check-input m-1" id="active" formControlName="active">
                                        </div>
                                    </div>

                                    <div class="modal-footer m-2">
                                        <div class="d-flex justify-content-center">
                                            <div class="col-12">
                                                <input (click)="cancel()" type="button" class="btn btn-danger m-1" value="Cancel">
                                                <input [disabled]="form.invalid" *ngIf="add" type="submit" class="btn btn-info text-white m-1" value="Add">
                                                <input [disabled]="form.invalid" *ngIf="!add" type="submit" class="btn btn-info text-white m-1" value="Edit">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>