<div id="addServiceModal" class="m-4 animate__animated animate__fadeIn animate__faster">
    <div class="container">
        <div class="card border-0 shadow-lg">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-12">
                    <ng-container *ngIf="form">
                        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="m-4">

                            <h4 class="mb-4">{{ add ? 'Add Service' : 'Edit Service' }}</h4>

                            <div class="modal-body">
                                <div class="form-group mb-3">
                                    <label for="serviceName">Service Name</label>
                                    <input id="serviceName" type="text" class="form-control" formControlName="name" maxlength="20">
                                    <div *ngIf="form.controls['name'].errors && form.controls['name'].touched" class="form-text text-danger">Please, complete the name with no more than 20 characters.</div>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="serviceDescription">Description</label>
                                    <textarea id="serviceDescription" class="form-control" formControlName="description" rows="3" maxlength="140"></textarea>
                                    <div *ngIf="form.controls['description'].errors && form.controls['description'].touched" class="form-text text-danger">Please, complete the description with no more than 140 characters.</div>
                                </div>
                            </div>

                            <div class="modal-footer justify-content-center">
                                <div class="col-12">
                                    <button type="button" class="btn btn-secondary me-3" (click)="cancel()">Cancel</button>
                                    <button [disabled]="form.invalid" type="submit" class="btn btn-info text-white">{{ add ? 'Add' : 'Save' }}</button>
                                </div>
                            </div>

                        </form>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>