<div class="m-4">
    <h1 class="text-info">Services Map</h1>
    <div class="container">
        <div class="card mask-custom border shadow-lg">
            <div class="row justify-content-center">
                <div class="container">
                    <agm-map [latitude]="lat" [longitude]="lng">
                        <agm-marker *ngFor="let partner of listP " [latitude]="partner.lat || 0 " [longitude]="partner.lng || 0 ">
                            <agm-info-window>
                                <h6>{{ partner.name }}</h6>
                                <p>{{ partner.service }}</p>
                                <button class="btn btn-info text-white ">Obtener Ruta</button>

                            </agm-info-window>
                        </agm-marker>
                    </agm-map>

                </div>

                <script src="https://maps.googleapis.com/maps/api/js?key={{mapKey}} "></script>
            </div>
        </div>
    </div>
</div>